*{
    margin: 0%;
    padding: 0%;
}
body{
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.50) 19.91%, rgba(12, 112, 242, 0.00) 24.84%) #303030;
    background-repeat: no-repeat;
}
/* Seção Menu Superior*/ 
#Menu-Superior{
    width: 100%;
    height: 100px;
    font-family: 'Inter';
    background-color: #303030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bababa;
}
#Menu-Superior button{
    margin-right: 5%;
    width: 6%;
    border: 0px;
    color: white;
    height: 35%;
    background-color: #0C70F2;
    font-family: inter;
    font-size: 20px;
    font-weight: 600px;
    box-shadow: 3px 2px 4px 0px rgba(12, 112, 242, 0.25);
    cursor:pointer;
}
#Menu-Superior div a :hover{
    color: blue;
}
#Menu-Superior div a{
    font-family: "Inter";
    font-size: 20px;
    color: white;
    font-weight: 600px;
    text-decoration: none;
}
#Menu{
    margin-left: 5%;
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center;
}


/* Secão Principal do site*/ 

section{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 100px;
    margin-bottom: 100px;

}
header{
    color: white;
    font-family: 'Inter';
}
header h1{
    font-size: 80px;
    font-weight: 800px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}
header h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700px;
    margin-bottom: 100px;
}
header .invert{
    background-color: black;
    font-weight: bold;
    padding: 5px;

}


/* Fomulario*/

form{
    color: white;
    font-family: 'inter';
    font-size: 30px;
    font-weight: 600px;
    width: 600px;

}

.Form-group{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;

}
input{
    height: 30px;
    border: 0px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.90);
    font-size: 20px;
    padding-left: 10px;
}

form label{
    margin-top: 10px;
    margin-bottom: 10px;
}

form input::placeholder{
    color: rgba(57, 57, 57, 0.50);
}

.checkbox-itens label{
    font-size: 25px;
}
.checkbox-itens{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'inter';
}

input[type="checkbox"]{
    transform: scale(1.7);
}
input[type="submit"]{
    cursor: pointer;
    margin-top: 70px;
    width: 600px;
    font-size: 32px;
    color: white;
    height: 56px;
    width: 100%;
    border-radius: 10px;
    background: rgba(12, 112, 242, 0.90);
    box-shadow: 0px 6px 4px 0px rgba(12, 112, 242, 0.25);
}

/* Seção Rodapé*/

footer{
    background-color: #0C70F2;
    width: 100%;
    
}
footer .Linha1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
footer nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
}
footer h5{
    border-radius: 10px;
    background-color: #303030;
    font-family: "inter";
    font-size: 140%;
    color: white;
    text-align: center;
    padding: 0px 10px 0px 10px; 
    margin: 50px 30px 20px 40px;
}
footer ul li{
    font-family: "inter";
    font-size: 130%;
    color: white;
    text-align: center;
    margin: 0px 0px 10px 0px;
    padding: 10px 10px 10px 10px; 
}
footer ul li a{
    color: white;
    text-decoration: none;
}
footer ul li a:hover{
     color: #0a357e;
}
footer .Endereço{
    color: white;
    font-size: 120%;
    text-align: center;
    width: 25%;
}
footer .Linha2{
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 10px;
}
footer .Linha2 a{
    font-family: "inter";
    color: white;
    text-decoration: none;
    padding: 5px;
}
footer .Linha2 a:first-child{
    border-right: 3px solid white;
}
footer .Linha2 a:hover{
    color: #303030;
}


/*Midia query*/


@media only screen and (max-width: 600px) {
    #Menu-Superior{
        flex-direction: column;
        height:auto ;
    }
    #Menu{
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 5px;
    }
    #menu a{
        display: flex;
        align-items: center;
        height: 50px;
        padding: 15px;
    }
    #Menu-Superior button{
        width: 100%;
        margin: 0px;
    }


    /* section*/

    section h1{
        font-size: 38px;
    }
    section h2{
        font-size: 28px;
        padding-right: 15px;
        padding-left: 15px;
    }
    form{
        width: 95%;
        font-size: 20px;
    }
    .checkbox-itens label{
        font-size: 14px;
    }

    /*footer*/

    footer .Linha1{
        flex-direction: column;
    }
    footer .Endereço{
        width: 95%;
        margin-bottom: 20px;
    }
}








